.quick-links{
    flex-direction: row;
    a {
        color: currentColor;
        &:hover {
            text-decoration: none;
        }
    }
    &__borders{
        // border-right: solid;
        // margin-right: 10%;
    }
    div {
        text-align: center;
    }
}
