.quick-links{
    display:flex;
    flex-direction:row;
    li {
        list-style-position: inside;
        list-style: none;
        padding: get-size(300)
    }
    a {
        color: currentColor;

        &:hover {
            text-decoration: none;
        }
        
    }
    div {
        grow:2;
        width:33%;
        text-align: center;
    }
}
