<header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
    <div class="[ inner-wrapper ] [ sf-flow ] [ two-cols ] " >
        <div>
            <h1 class="[ intro__heading--compact] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
            <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ] " >
                <div>{{ introSummary | safe }}</div>
            </div>
        </div>
        <div>
            <img src="/images/buildings.png" alt="Stronger together"/>
        </div>
    </div>
    <div class="inner-wrapper quick-links [ box-flex ] space-between">
        <div class=" text-600 color-dark weight-bold width-quarter sf-flow quick-links__borders">
            <a href="/posts/phone-zap/">
                ATU Phone Zap June 22nd-23rd!
            </a>
        </div>
        <div class=" text-600 color-dark sf-flow width-quarter quick-links__borders">
            <a href="/faq">
                Find out more about the union.
            </a>
        </div>
        <div class=" text-600 color-dark sf-flow width-quarter">
            <a href="/contact">
                Reach out and become a member!
            </a>
        </div>
    </div>
</header>
