{% from "macros/form.njk" import label, field, textarea, button, radios %}

<form name="contact" method="POST" data-netlify="true" action="/thank-you" netlify-honeypot="bot-field">
  <ol class="[ field-list ]">
    <li class="[ field-list__field-group ]">
        <span>
            {{ label("Email:", "email") }}
            {{ field( "email", "email", { required: true,  autocomplete: "email" } ) }}
        </span>
    </li>
    <li class="[ field-list__field-group ]">
        {{ radios("Reason:","reason",["Need help","I want to volunteer to help/offer aid", "Both"],{required:false}) }}
    </li>
    <li class="[ field-list__field-group ]">
      {{ label("Enter your message here", "message") }}
        {{ textarea( "message", { required: true, placeholder: "If you are interested in joining, tell us a little bit about you and your situation.  If you just want to notify us of something, let us know", autocapitalize: "sentences", spellcheck: "true" } ) }}
    </li>
    <li hidden>
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
    </li>
  </ol>
  {{ button("Send message") }}
</form>
